/* SETUP */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    /* Each element in body will inherit the box-sizing property */
    box-sizing: inherit;
}

html {
    /* 100% = 16px */
    /* 62.5% = 10px */
    /* 1rem = 62.5% = 10px */
    font-size: 62.5%;



    @include respond(tab-land) {       // width < 1200 ?
        font-size: 56.25%;             // 1rem = 9px -> 9/16 = 56.25%
    }
    @include respond(tab-port) {       // width < 900 ?
        font-size: 50%;                // 1rem = 8px -> 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%;                // 1rem = 12px -> 12/16 = 75%
    }
}

body {
    /* Changes box model so that the borders/paddings are no 
    longer added to total width/height of the box. */
    box-sizing: border-box; 
    padding: 3rem;


    
    @include respond(tab-port) {     
        padding: 0;                
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}